.sidebar{

width:230px;
height:100vh;

position:fixed;

left:0;
top:0;

background:rgba(15,23,42,0.7);
backdrop-filter:blur(15px);

padding:20px;

display:flex;
flex-direction:column;

justify-content:space-between;

transition:0.3s;

border-right:1px solid rgba(255,255,255,0.05);

}

.sidebar.collapsed{
width:70px;
}

.logo{
font-size:22px;
font-weight:700;
margin-bottom:20px;
}

.menu button{

width:100%;

background:none;
border:none;

color:white;

text-align:left;

padding:12px;

border-radius:8px;

cursor:pointer;

transition:0.2s;

}

.menu button:hover{

background:rgba(99,102,241,0.2);

transform:translateX(3px);

}

.sidebar-footer{

display:flex;
flex-direction:column;
gap:15px;

}

.theme-btn{

background:linear-gradient(135deg,#6366f1,#8b5cf6);

border:none;

padding:10px;

border-radius:8px;

color:white;

cursor:pointer;

}

.profile img{

width:36px;
height:36px;
border-radius:50%;

}